<ion-header>
  <ion-toolbar>
    <ion-title>News</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list>
    <ion-list-header>
      <ion-label>Course: Advanced Software Enginnering</ion-label>
    </ion-list-header>
    <ion-item-group>
      <ion-item-divider>
        <ion-label>Topic: {{topic}}</ion-label>
      </ion-item-divider>
    </ion-item-group>

    <ion-item *ngFor="let data of graphDataList">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>{{data.description}}</ion-card-subtitle>
          <ion-card-title>{{data.name}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{data.detailDescription != null? data.detailDescription.articleBody :
          ""}}
        </ion-card-content>
      </ion-card>
      <!-- <ion-label>
        <h2>{{data.name}}</h2>
        <h3>{{data.description}}</h3>
        <h3>
          {{data.detailDescription != null? data.detailDescription.url : ""}}
        </h3>
        <p class="ion-text-wrap">
          {{data.detailDescription != null? data.detailDescription.articleBody :
          ""}}
        </p>
      </ion-label> -->
    </ion-item>
  </ion-list>
</ion-content>
