<ion-header>
  <ion-toolbar class="ion-toolbar-color">
    <ion-title class="ion-text-center">News</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-item>
    <ion-label>Course</ion-label>
    <ion-select
      value="{{selectedCourse}}"
      interface="action-sheet"
      (ionChange)="onCourseChange($event)"
    >
      <ion-item *ngFor="let course of courses">
        <ion-select-option value="{{course}}">{{course}}</ion-select-option>
      </ion-item>
    </ion-select>
  </ion-item>

  <ion-list *ngIf="selectedCourse != ''">
    <ion-item-group>
      <ion-item-divider>
        <ion-label>Topic: {{displayTopic.topic}}</ion-label>
      </ion-item-divider>
      <ion-item-divider>
        <ion-label>Date: {{displayTopic.date}}</ion-label>
      </ion-item-divider>
    </ion-item-group>

    <ion-item *ngFor="let data of displayTopic.googleKnowledgeGraphData">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>{{data.description}}</ion-card-subtitle>
          <ion-card-title>{{data.name}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{data.detailDescription != null? data.detailDescription.articleBody :
          ""}}
          <ion-button
            fill="outline"
            size="small"
            color="secondary"
            (click)="openModalDetailed($event, data.detailDescription.url, displayTopic.topic)"
            >read more</ion-button
          >
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>
