<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Account
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
<!--    <div>-->
<!--      <ion-img style="align-items: center" src="./assets/icon/account.png" class="user"></ion-img>-->
<!--    </div>-->

    <div class="btn-container">
      <ion-button expand="block" color="primary" (click)="uploadSchedule()">Upload Schedule</ion-button> <br>
      <ion-button expand="block" color="success" (click)="addSyllabus()">Add Syllabus</ion-button> <br>
      <ion-button expand="block" color="danger" (click)="signOut()">Sign Out</ion-button>
    </div>
  </div>
</ion-content>
