.container {
  margin: 50px auto;
  width: 75%;
  text-align: center;
}

.btn-container {
  margin: 25px auto;
  width: 75%;
}

button {
  margin: 5px auto;
  width: 100%;
}

.error-msg {
  color: rgba(147, 28, 28, 0.88);
  margin: 15px 0;
  text-align:center;
}

.select-image {
  padding-top: 100px;
}

.text {
  padding-top: 25px;
}
