<ion-header>
  <ion-toolbar>
    <ion-title>Add Syllabus</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="error-msg" *ngIf="message !== ''">{{message}}</div>

    <div>Add a picture of your syllabus</div>

    <div class="btn-container">
      <ion-button (click)="selectSource()">Pick Image</ion-button>
    </div>

    <img class="selected-image" [src]="selectedImage" *ngIf="selectedImage">

    <div class="btn-container">
      <ion-button (click)="useImage()" *ngIf="selectedImage">
        Use Image
      </ion-button>
    </div>

    {{text}}
  </div>
</ion-content>

