<ion-header>
  <ion-toolbar>
    <ion-title>Add Schedule</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div *ngIf="!selectedImage" class="select-image">
      <div class="error-msg" *ngIf="message !== ''">{{message}}</div>

      <div class="text">Add a picture of your schedule</div>

      <div class="btn-container">
        <ion-button (click)="selectSource()">
          Select Image
        </ion-button>
        <br>
        <ion-button (click)="useImage()">
          Use Test Schedule
        </ion-button>
      </div>
    </div>

    <div *ngIf="selectedImage">
      <img class="selected-image" [src]="selectedImage">

      <div class="btn-container">
        <ion-button (click)="useImage()">
          Use Image
        </ion-button>
        <br>
        <ion-button (click)="selectSource()">
          Select New Image
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>

