ion-content ion-toolbar {
  --background: translucent;
}

::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none;
}

ion-title {
  color: white;
}

.ion-toolbar-color {
  --background: #0e67a4;
}
