<ion-header>
  <ion-toolbar class="ion-toolbar-color">
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()"
        ><ion-icon name="arrow-back-outline"></ion-icon
      ></ion-button>
    </ion-buttons>
    <ion-title>Article related {{ topic }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openWebpage()"
        ><ion-icon name="globe-outline"></ion-icon
      ></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-card>
  <ion-card-content>
    <iframe
      class="e2e-iframe-trusted-src"
      [src]="trustedUrl"
      style="width: 100%; height: 100vh;"
    ></iframe>
  </ion-card-content>
</ion-card>
